<h4>Valor de empeño: <span class='font-green'>$<span id='extension-payment-pawn-price'></span></span></h4>
<div class="form-group">
  <label for="inpt-extension-payment-price">valor pagado</label>
  <input type="text" id="inpt-extension-payment-price" class='inpt-price'>
</div>
<div class="form-group row">
	<label for="inpt-number-of-payments" class='col-xs-3 col-form-label'>Cantidad de prórrogas</label>
	<div class='col-xs-9'>
		<input type="number" id="inpt-number-of-payments" class='form-control'>		
	</div>
</div>
<div class="form-group">
	<label for="inpt-execution-date">fecha de ejecución</label>
	<input type="date" class="form-control" id="inpt-execution-date">
</div>
  
  
