<div id='client-description'>
	<p><span id='client-name'></span><br>cc: <span id='client-cc'>1020345432</span></p>
</div>

<div class="form-group row">
  <label for="inpt-product-name" class='col-xs-3 col-form-label'>nombre del producto</label>
  <div class='col-xs-9'>
  	<input type="text" id="inpt-product-name">	
  </div>
  
</div>
<div class="form-group row">
  <label for="inpt-product-price" class='col-xs-3 col-form-label'>precio</label>
  <div class='col-xs-9'>
  		<input type="text" id="inpt-product-price" class='inpt-price'>
  </div>
</div>
<div class='form-group'>
	<label for="inpt-product-description">descripción (notas)</label>
  	<input type="text" id="inpt-product-description">
</div>
<div class='form-group'>
	<label for="inpt-execution-date">fecha de ejecución</label>
  	<input type="date" class="form-control" id="inpt-execution-date">
</div>