extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/client.css')

block scripts
	script(src='/javascripts/client.js')

block content
	div#main-container.white.container.col-md-6.col-md-offset-3
		div#header
			p#btn-edit-wrapper
				span#btn-edit(class='glyphicon glyphicon-pencil')
			h4#client-phone-wrapper 
				span(class='glyphicon glyphicon-earphone')
				span#client-phone 3165122202
			h2#client-name Gerardo Rios
			h4#client-cc 102022022
			div#options-wrapper
				span.selected Empeños
		div#products
			div.product-item
				p 122
				p Xbox
				p $12000
				p 2016-05-01
