extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/product.css')
	link(href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet")


block scripts
	script(src="/javascripts/product.js")

block content
	span.hidden#user-auth #{auth}
	div#main-container.white.container.col-md-6.col-md-offset-3
		div#product-header
			div#options-wrapper
				button#btn-back 
					span.glyphicon.glyphicon-chevron-left
					| atras
				if auth
					button#btn-delete borrar
					span#btn-edit(class='glyphicon glyphicon-pencil')
			h2#product-inventory-id-wrapper ID #<span id='product-inventory-id'></span>
			a#product-client-name 
			h1#product-name 
			p#product-description

			div#product-status-wrapper
				p
				p#state-pawn Empeño
				p#state-shelf En Venta
				p#state-sold Vendido
				p#state-closed Retirado
				p
		div#product-history
			div.history-item
	div#delete-container
		div#delete-main-container.col-sm-6.col-sm-offset-3
			h2 Esta seguro de borrar el producto?
			button#btn-delete-accept Aceptar
			button#btn-delete-cancel Cancelar
			div.clearfix
