#main-container {
	position: relative;
	margin-top: 30px;
	padding: 30px 50px;
	height: 80%;
	box-shadow: 0 0 45px 0px #aaaaaa;
	overflow-y: scroll;
	color: #333;

	display: flex;
	flex-flow: column;
}
#product-header {

	flex-basis: auto;

}

#options-wrapper button {
	background-color: white;
	color: #5A85FF;
    padding: 10px 15px;
    border-radius: 13px;
    border: 1px solid #5A85FF;
    cursor: pointer;
}

#btn-back span {
	margin-right: 3px;
}

#btn-edit{
	cursor: pointer;
	font-size: 20px;
	color: #446CE8;
	display: block;
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}
#btn-delete {
	color: red!important;
	float: right;
	border-color: red!important;
}

#product-inventory-id-wrapper {
	display: block;
	float: right;
	font-weight: 900;
	font-size: 20px;
	font-family: "Comfortaa", cursive;
	letter-spacing: 2px;
}

#product-client-name {
	clear: both;
	margin-top: 7px;
	display: block;
	float: right;
	font-weight: 900;
	font-size: 15px;
	color: #6793FF;
	font-family: "Comfortaa", cursive;
	letter-spacing: 2px;
	cursor: pointer;
}

#product-name {
	color: #707070;
	font-family: "Comfortaa", cursive;
}

#product-status-wrapper {
	margin: 20px 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#product-status-wrapper p {
	flex-grow: 1;
	text-align: center;
	color: #BCBCBC;
}
#product-status-wrapper p.highlight {
	color : #6793FF;
}

#product-history {
	overflow-y: scroll;
	height: 70%;

	flex-grow: 1;
}

.history-item-title span, .history-item-body span {
	margin-right: 40px;
}
.btn-delete-last-transaction {
	font-size: 18px;
	color: red;
	text-align: right;
	font-weight: 100;
	opacity: 0.5;
	cursor: pointer;
}
.transaction-type {
	font-family: "Comfortaa", cursive;
	font-weight: 900;
	font-size: 20px;
}

.history-item-body {
	padding: 6px 0 10px 20px;

}

.transaction-date {
	color : #9277C8;
	opacity: 0.5;
}


#delete-container {
	position: fixed;
	top: 0;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}
#delete-main-container {
	background-color: white;
	top: 40%;
	padding-bottom: 20px;
	padding-top: 30px;
}
#delete-main-container h2 {
	color: #707070;
	font-family: "Comfortaa", cursive;
}

#delete-main-container button {
	background-color: white;
	color: #5A85FF;
    padding: 10px 15px;
    border-radius: 13px;
    border: 1px solid #5A85FF;
    cursor: pointer;
}

#btn-delete-accept {
	color: red!important;
	border-color: red!important;
	margin-right: 10px;
}
