/*
	#6793FF main blue
	#446CE8 dark blue
	#DDDEE0 dark white
	#FFFFFF white

	#9277C8 purple
	#9DDB66 green
	#FFB53C orange
	#FF3977 red
*/
html, #main-wrapper {
	height: 100%;
}

body {
  margin: 0;
  background-color: #DDDEE0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

.white {
	background-color: #FFFFFF;
}

.header {
 width: 100%;
 height: 100px;

 background-color: #FFFFFF;
 box-shadow: 0 0px 20px 0px #666666;
}

.header button {
	background-color: #6792FC;
	color: white;
	padding: 12px 15px;
	float: right;
	margin-right: 80px;
	margin-top: 25px;
}

.header img {
	margin: 12px 40px;
}


.gp-select {
	cursor: pointer;
}

.font-green {
	color: #9DDB66 !important;
}
.font-red {
	color: #FF3977 !important;
}

